<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>IUST Quran</title>
</head>

<body>
    <header>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <img class="logo" src="./assets/images/logo.png" alt="logo">
                        
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#work">Work</a></li>
                            <li><a href="#aboutus">About Us</a></li>
                            <li><a href="#contactus">Contact Us</a></li>
                           

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="home">
        <div class="container-full hero">
            <div class="row">
                <div class="col-md-12 text">
                    <h1>Quran <br> Translation</h1>
                    <p>Translation of Quran in English</em></p>
                    
                </div>
                
            </div>
        </div>
        <section class="work" id="work">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/images/quranIcon.png" alt="">
                            <h3>Transaltion</h3>
                            <adress>
                               Translations in many <br>
                               languages of various translators.
                            </address>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/images/quranaudio.png" alt="">
                            <h3>Audio</h3>
                            <adress>
                                Audio of Quran <br>
                                 and translation.
                            </address>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/images/hadith.png" alt="">
                            <h3>Hadees</h3>
                            <adress>
                                Daily Hadees.
                            </address>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/images/bayaan.png" alt="">
                            <h3>Bayaan</h3>
                            <adress>
                                Bayaan-ul-Quran.
                            </address>
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>
        <section class="aboutus" id="aboutus">
            <div class="container">
                <p>
                    <h1>This website is under process. </h1> <br>
                    In this Website we will provide you the translation of the Hole Quran in different languages and of different authors. <br>
                    
                </p>
               


            </div>

        </section>
        
       
    </main>
    <footer id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Address</h4>
                    <address>
                        1-University Avenue,<br>
                        Awantipora, Pulwama, Pin-192122,<br>
                        Jammu & Kashmir
                    </address>
                </div>
                <div class="col-md-6">
                    <h4>Contact</h4>
                    <a href="tel:+9101933247954">+91 (01933) 247954 / 247955</a>
                    <a href="mailto:islamicuniversity.edu.in">Islamicuniversity.edu.in</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>